.html , body {
    margin: 0;
    padding: 0;
}
#headerBar {
width: 100%;
border:1px solid green;
margin-top:0;
position: fixed;
height: 100px;
background-color: rgb(107, 80, 80);
}
.wrapper{
    display: grid;
    border: solid 1px hidden;
}
.section {
 border: 1px red solid;
 height: 180px;
 width: 250px;
}
.bottomBar {
    position: fixed;
    margin-bottom: 0;
    border: 5px solid lightblue;
    height: 55px;
    width: 100%;
}